*{
    margin: 0;
    padding: 0;
  }

.main{
   background-color:  #F3F3F3;
}

.containerMain{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    padding: 25px 70px;

}

.containerSecond{
    display: flex;
    gap: 20px;
}

@media (max-width: 744px) {
    .main nav {
        justify-content:center;
        padding: 20px 50px;
    }
}
