* {
  margin: 0;
  padding: 0;
}


.button {
  padding: 15px 25px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.8s ease, transform 0.8s ease;
}

.button:hover {

  font-weight: 600;
  padding: 20px 30px;
  transform: scale(1.1); /* Aumenta o botão ligeiramente */
}

